<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/looksEdit.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@400&display=swap" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Playfair Display:ital,wght@0,400;1,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Girassol:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair Display SC:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico:wght@400&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" />
</head>

<body>
  <div class="div3">
    <div class="child35"></div>
    <div class="child36"></div>
    <div class="child37"></div>
    <div class="child38"></div>
    <div class="child39"></div>
    <img class="child40" alt="" src="/img/star-3.svg" />

    <img class="child41" alt="" src="/img/star-3.svg" />

    <img class="child42" alt="" src="/img/star-3.svg" />

    <img class="child43" alt="" src="/img/star-3.svg" />

    <img class="child44" alt="" src="/img/star-3.svg" />

    <img class="child45" alt="" src="/img/star-3.svg" />

    <img class="child46" alt="" src="/img/star-3.svg" />

    <div class="sparkle3" id="sparkleText">sparkle</div>
    <img class="icon-13" alt="" src="/img/icon-1@2x.png" id="icon1Image" />

    <img class="icon-2" alt="" src="/img/icon-2@2x.png" id="icon2" />

    <img class="image-1-icon3" alt="" src="/img/image-1@2x.png" />

    <div class="seu-look-est">seu look está pronto!</div>
    <div class="text-flex">
      <div class="se-quiser-trocar">
        se quiser trocar alguma peça, toque nela abaixo.
      </div>
    </div>
    <div class="looks-partials">
      {{>looksPartial}}
    </div>
    <div class="section-flex">
      <div class="child47"></div>
      <div class="frame-div">
        <div class="frame-item"></div>
        <img class="peca-cima pt-cima1" alt="" src="/img/pt-cima/pt-cima1.png" />

        <img class="peca-cima pt-cima2" alt="" src="/img/pt-cima/pt-cima2.png" />

        <img class="peca-cima pt-cima3" alt="" src="/img/pt-cima/pt-cima3.png" />

        <img class="peca-cima pt-cima4" alt="" src="/img/pt-cima/pt-cima4.png" />

        <img class="peca-cima pt-cima5" alt="" src="/img/pt-cima/pt-cima5.png" />

        <img class="peca-cima pt-cima6" alt="" src="/img/pt-cima/pt-cima6.png" />

        <img class="peca-cima pt-cima7" alt="" src="/img/pt-cima/pt-cima7.png" />

        <img class="peca-cima pt-cima8" alt="" src="/img/pt-cima/pt-cima8.png" />

        <img class="peca-cima pt-cima9" alt="" src="/img/pt-cima/pt-cima9.png" />

        <img class="peca-cima pt-cima10" alt="" src="/img/pt-cima/pt-cima10.png" />

        <div class="frame-inner"></div>
      </div>
      <div class="rectangle-parent4">
        <div class="frame-child1"></div>
        <img class="peca-baixo pt-baixo1" alt="" src="/img/pt-baixo/pt-baixo1.png" />

        <img class="peca-baixo pt-baixo2" alt="" src="/img/pt-baixo/pt-baixo2.png" />

        <img class="peca-baixo pt-baixo3" alt="" src="/img/pt-baixo/pt-baixo3.png" />

        <img class="peca-baixo pt-baixo4" alt="" src="/img/pt-baixo/pt-baixo4.png" />

        <img class="peca-baixo pt-baixo5" alt="" src="/img/pt-baixo/pt-baixo5.png" />

        <img class="peca-baixo pt-baixo6" alt="" src="/img/pt-baixo/pt-baixo6.png" />

        <img class="peca-baixo pt-baixo7" alt="" src="/img/pt-baixo/pt-baixo7.png" />

        <img class="peca-baixo pt-baixo8" alt="" src="/img/pt-baixo/pt-baixo8.png" />

        <img class="peca-baixo pt-baixo9" alt="" src="/img/pt-baixo/pt-baixo9.png" />

        <img class="peca-baixo pt-baixo10" alt="" src="/img/pt-baixo/pt-baixo10.png" />

        <div class="frame-child2"></div>
      </div>

      <div class="pea-de-cima">Peça de Cima</div>
      <div class="pea-de-baixo1">Peça de Baixo</div>
      <div class="calado2">Calçado</div>
      <div class="acessrio1">Acessório</div>
      <img class="calssado calssado1" alt="" src="/img/calssado/calssado1.png" />

      <img class="calssado calssado2" alt="" src="/img/calssado/calssado2.png" />

      <div class="image-24-parent">
        <img class="calssado calssado3" alt="" src="/img/calssado/calssado3.png" />

        <img class="calssado calssado4" alt="" src="/img/calssado/calssado4.png" />

        <img class="calssado calssado5" alt="" src="/img/calssado/calssado5.png" />

        <img class="calssado calssado6" alt="" src="/img/calssado/calssado6.png" />

        <img class="calssado calssado7" alt="" src="/img/calssado/calssado7.png" />

        <img class="calssado calssado8" alt="" src="/img/calssado/calssado8.png" />
        <img class="calssado calssado9" alt="" src="/img/calssado/calssado9.png" />

        <img class="calssado calssado10" alt="" src="/img/calssado/calssado10.png" />
        <div class="frame-child3"></div>

      </div>
      <div class="image-32-parent">
        <img class="acessorio acessorio1" alt="" src="/img/acessorio/acessorio1.png" />

        <img class="acessorio acessorio2" alt="" src="/img/acessorio/acessorio2.png" />

        <img class="acessorio acessorio3" alt="" src="/img/acessorio/acessorio3.png" />

        <img class="acessorio acessorio4" alt="" src="/img/acessorio/acessorio4.png" />

        <img class="acessorio acessorio5" alt="" src="/img/acessorio/acessorio5.png" />

        <img class="acessorio acessorio6" alt="" src="/img/acessorio/acessorio6.png" />

        <img class="acessorio acessorio7" alt="" src="/img/acessorio/acessorio7.png" />

        <img class="acessorio acessorio8" alt="" src="/img/acessorio/acessorio8.png" />

        <img class="acessorio acessorio9" alt="" src="/img/acessorio/acessorio9.png" />

        <img class="acessorio acessorio10" alt="" src="/img/acessorio/acessorio10.png" />

        <div class="frame-child4"></div>
      </div>
    </div>
    <form action="/update/{{lookCriado.id}}" method="post">
      <input value='{{lookCriado.parte_cima}}' type='hidden' name='parte_cima' />
      <input value='{{lookCriado.parte_baixo}}' type='hidden' name='parte_baixo' />
      <input value='{{lookCriado.calcado}}' type='hidden' name='calcado' />
      <input value='{{lookCriado.acessorio}}' type='hidden' name='acessorio' />
      <div class='rectangle-parent5' id='groupContainer'>
        <button type="submit" class='group-child4'>Editar</button>

      </div>
    </form>
  </div>

  <script src="/js/update.js"></script>
  <script>
    var sparkleText = document.getElementById("sparkleText");
    if (sparkleText) {
      sparkleText.addEventListener("click", function (e) {
        window.location.href = "./Component6.html";
      });
    }

    var icon1Image = document.getElementById("icon1Image");
    if (icon1Image) {
      icon1Image.addEventListener("click", function (e) {
        window.location.href = "./Component6.html";
      });
    }

    var icon2 = document.getElementById("icon2");
    if (icon2) {
      icon2.addEventListener("click", function (e) {
        window.location.href = "./Component6.html";
      });
    }
  </script>
</body>

</html>